<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>

<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2>Planet Jupiter</h2>
    <img src="<%=   planetJupiter.image  %>">
    <img src="https://wallpaperaccess.com/full/223952.jpg">

    <br>
    Planet Description: <%=   planetJupiter.description  %> <br><br>
    Distance From Sun: <%=   planetJupiter.distanceFromSun  %> <br>
    Year Length: <%=   planetJupiter.yearLength  %> <br>
    Radius: <%=   planetJupiter.radius  %> <br>
    One Earth Day Equivalent: <%=   planetJupiter.oneEarthDay  %> <br>
    Total Moons: <%=   planetJupiter.moons  %> <br>
    Website Link: <%=   planetJupiter.websiteLink  %> <br>
</body>
<br><%- include('partials/footer.ejs') %>
</html>