<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>

<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2>Planet Mars</h2>
    <img src="<%=   planetMars.image  %>">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png/960px-Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png">

    <br>
    Planet Description: <%=   planetMars.description  %> <br><br>
    Distance From Sun: <%=   planetMars.distanceFromSun  %> <br>
    Year Length: <%=   planetMars.yearLength  %> <br>
    Radius: <%=   planetMars.radius  %> <br>
    One Earth Day Equivalent: <%=   planetMars.oneEarthDay  %> <br>
    Total Moons: <%=   planetMars.moons  %> <br>
    Website Link: <%=   planetMars.websiteLink  %> <br>
</body>
<br><%- include('partials/footer.ejs') %>
</html>