<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>

<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2>Planet Venus</h2>
    <img src="<%=   planetVenus.image  %>">

    <br>
    Planet Description: <%=   planetVenus.description  %> <br><br>
    Distance From Sun: <%=   planetVenus.distanceFromSun  %> <br>
    Year Length: <%=   planetVenus.yearLength  %> <br>
    Radius: <%=   planetVenus.radius  %> <br>
    One Earth Day Equivalent: <%=   planetVenus.oneEarthDay  %> <br>
    Total Moons: <%=   planetVenus.moons  %> <br>
    Website Link: <%=   planetVenus.websiteLink  %> <br>
</body>
<br><%- include('partials/footer.ejs') %>
</html>